body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.bolaAzul {
    background: linear-gradient(
        to right,
        #1450ff,
        #32dcff
    );
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 700px;
    margin-right: 180px;
}

.bolaLaranja {
    background: linear-gradient(
        to right,
        #ff5014,
        #ff9632
    );
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 700px;
    margin-left: 180px;
}

.containerCard {
    background: #ffffff21;
    backdrop-filter: blur(10px);
    border: 2px solid #ffffff1a;
    box-shadow: 0 0 40px #08071099;
    width: 450px;
    height: 600px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
}

.containerCard h3 {
    color: #f5f5f5;
    font-size: 3rem;
    margin: 0 0 40px 0;
    text-align: center;
}

.labelInput {
    color: #f5f5f5;
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.containerCard input {
    height: 60px;
    border-radius: 8px;
    border: none;
    background: #2020206e;
    margin-bottom: 20px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    outline: none;
    color: #f5f5f5;
    padding-left: 10px;
}

.containerCard input:hover {
    background: #3030306e;
}

.containerCheckbox {
    display: flex;
    align-items: center;
}

.labelCheckbox input {
    display: none;
}

.labelCheckbox span {
    width: 20px;
    height: 20px;
    display: block;
    background-color: #c8c8c81a;
    border: 2px solid #646464;
    border-radius: 5px;
    cursor: pointer;
}

.labelCheckbox input:checked + span {
    background-color: #32c878;
    background-image: url(/img/iconeCheckbox.png);
}

.labelManterLogado {
    color: #f5f5f5;
    font-size: 12pt;
    margin-left: 10px;
}

.logIn {
    height: 50px;
    margin-top: 40px;
    border-radius: 8px;
    border: none;
    background: #f5f5f5;
    font-size: 1.5rem;
    font-weight: 800;
    color: #202020;
    cursor: pointer;
}

.logIn:hover {
    background: #dadada;
}

.logIn:active {
    background: #f5f5f5;
}

.containerCadastro {
    display: flex;
    align-items: center;
}

.containerCadastro p {
    color: #f5f5f5;
    letter-spacing: 1px;
}

.cadastro {
    text-decoration: none;
    color: #32c878;
    margin-left: 10px;
    letter-spacing: 1px;
}

.cadastro:hover {
    color: #86ffbe;
}

.cadastro:active {
    color: #32c878;
}

.containerBotoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.google {
    background: #2020206e;
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 8px;
    padding: 15px 60px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.google:hover {
    background: #3030306e;
}

.google:active {
    background: #2020206e;
}

.facebook {
    background: #2020206e;
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 8px;
    padding: 15px 60px;
    font-size: 1.1rem;
}

.facebook:hover {
    background: #3030306e;
}

.facebook:active {
    background: #2020206e;
}

.google img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.facebook img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .bolaAzul {
        width: 100px;
        height: 100px;
        margin-bottom: 500px;
        margin-right: 260px;
        position: fixed;
    }
    
    .bolaLaranja {
        width: 100px;
        height: 100px;
        margin-top: 500px;
        margin-left: 260px;
        position: fixed;
    }

    .containerCard {
        width: 150px;
        height: 400px;
        padding: 20px;
        width: 250px;
        height: 480px;
        position: fixed;
    }

    .containerCard h3 {
        font-size: 1.5rem;
    }

    .labelInput {
        font-size: 0.8rem;
    }
    
    .containerCard input {
        font-size: 1rem;
        height: 40px;
    }

    .labelCheckbox span {
        width: 10px;
        height: 10px;
    }
    
    .labelManterLogado {
        font-size: 0.8rem;
    }

    .logIn {
        height: 35px;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 800;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .containerCadastro p {
        font-size: 0.7rem;
    }
    
    .cadastro {
        font-size: 0.7rem;
    }

    .google {
        padding: 10px 0;
        width: 150px;
        text-align: center;
        font-size: 1rem;
    }

    .facebook {
        padding: 10px 0;
        width: 150px;
        text-align: center;
        font-size: 1rem;
    }

    .google img {
        width: 15px;
        height: 15px;
    }

    .facebook img {
        width: 15px;
        height: 15px;
    }

}